In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('answer.csv')

In [25]:
df.head()

     Id      SalePrice
0  1461  118903.804688
1  1462  151922.796875
2  1463  153743.296875
3  1464  187746.859375
4  1465  181480.062500